[defaults]
forks = 50
force_handlers = True
vault_password_file = .vaultpass-client.py
;vault_identity_list = sandbox@.vaultpass-client.py, tools@.vaultpass-client.py, dev@.vaultpass-client.py, stage@.vaultpass-client.py, prod@.vaultpass-client.py
host_key_checking = False
force_valid_group_names = ignore


[ssh_connection]
retries=2
ssh_args = -o 'StrictHostKeyChecking=no' -o 'ControlMaster=auto' -o 'ControlPersist=60s'
pipelining = True
