[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
"boto3" = "*"
boto = "*"
requests = "*"
botocore = "*"
ansible = "==2.5.2"

[dev-packages]

[requires]
python_version = "2.7"
