[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
boto3 = "*"
boto = "*"
botocore = "*"
requests = "*"
ansible = ">=2.7.1"
jmespath = "*"
dnspython = "*"
google-auth = "*"
netaddr = "*"
infoblox-client = "*"
passlib = "*"
shade = "*"
python-openstackclient = "*"
python-novaclient = "*"
apache-libcloud = "*"

[dev-packages]

[requires]
python_version = "3.7"
