{% for item in ntp_servers %}
server {{ item }}
{% endfor %}

{% if ansible_os_family == 'RedHat' %}
keyfile /etc/chrony.keys
{% else %}
keyfile /etc/chrony/chrony.keys
{% endif %}

driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
rtcsync
makestep 1 3
