---

- name: Preflight check - Redeploy
  block:
    - assert: { that: "clean is not defined", msg: "Must not set the 'clean' variable for a redeploy" }
    - assert: { that: "canary is defined and (canary is defined and canary in ['start', 'finish', 'none', 'tidy'])", msg: "Canary must be 'start', 'finish', 'none' or 'tidy'" }
    - assert: { that: "redeploy_scheme is defined and redeploy_scheme in redeploy_schemes_supported" }
    - assert: { that: "cluster_hosts_state | length", msg: "Redeploy only possible with an existing cluster." }

- name: "Run the {{redeploy_scheme}} redploy scheme"
  include_role:
    name: "{{role_path}}/{{redeploy_scheme}}"
  when: redeploy_scheme is defined


- name: Get the final dynamic inventory (to write out current)
  include_role:
    name: clusterverse/dynamic_inventory
