---

- name: clean/dns | hosts_to_clean
  debug: msg="{{hosts_to_clean}}"

- block:
    - name: clean/dns/nsupdate | Delete DNS entries
      block:
        - name: clean/dns/nsupdate | Delete A records
          nsupdate:
            key_name: "{{cluster_vars[buildenv].nsupdate_cfg.key_name | default(bind9[buildenv].key_name)}}"
            key_secret: "{{cluster_vars[buildenv].nsupdate_cfg.key_secret | default(bind9[buildenv].key_secret)}}"
            server: "{{cluster_vars[buildenv].nsupdate_cfg.server | default(bind9[buildenv].server)}}"
            zone: "{{cluster_vars.dns_nameserver_zone}}"
            state: "absent"
            record: "{{item.name}}.{{cluster_vars.dns_user_domain | regex_replace('^(.*?)\\.?' + cluster_vars.dns_nameserver_zone, '\\1')}}"
          with_items: "{{ hosts_to_clean }}"

        - name: clean/dns/nsupdate | Delete CNAME records
          nsupdate:
            key_name: "{{cluster_vars[buildenv].nsupdate_cfg.key_name | default(bind9[buildenv].key_name)}}"
            key_secret: "{{cluster_vars[buildenv].nsupdate_cfg.key_secret | default(bind9[buildenv].key_secret)}}"
            server: "{{cluster_vars[buildenv].nsupdate_cfg.server | default(bind9[buildenv].server)}}"
            zone: "{{cluster_vars.dns_nameserver_zone}}"
            record: "{{item.name | regex_replace('-(?!.*-).*')}}.{{cluster_vars.dns_user_domain | regex_replace('^(.*?)\\.?' + cluster_vars.dns_nameserver_zone, '\\1')}}"
            value:  "{{item.name}}.{{cluster_vars.dns_user_domain | regex_replace('^(.*?)\\.?' + cluster_vars.dns_nameserver_zone, '\\1')}}"
            type: CNAME
            state: absent
          with_items: "{{ hosts_to_clean }}"
          vars:
            cname_to_check: "{{ item.name | regex_replace('-(?!.*-).*') }}.{{cluster_vars.dns_user_domain}}."
            cname_value: "{{ lookup('dig', cname_to_check, 'qtype=CNAME', '@'+cluster_vars[buildenv].nsupdate_cfg.server | default(bind9[buildenv].server)) }}"
          when: (item.name + '.' + cluster_vars.dns_user_domain + "." == cname_value)
      when: cluster_vars.dns_server == "nsupdate"

    - name: clean/dns/route53 | Delete DNS entries
      block:
        - name: clean/dns/route53 | Get Zone
          route53_zone:
            aws_access_key: "{{cluster_vars[buildenv].aws_access_key}}"
            aws_secret_key: "{{cluster_vars[buildenv].aws_secret_key}}"
            zone: "{{cluster_vars.dns_nameserver_zone}}"
            vpc_id: "{{ vpc_id if cluster_vars.route53_private_zone|bool else omit }}"                     # If this is a private zone, we need to request the private (VPC/Region-specific) version of the Zone
            vpc_region: "{{ cluster_vars.region if cluster_vars.route53_private_zone|bool else omit }}"    # If this is a private zone, we need to request the private (VPC/Region-specific) version of the Zone
          register: r__route53_zone

        # Note: route53_info currently does not honour the 'max_items' or 'type' fields, (and if 'start_record_name' is not found, it just returns all records), so we need to filter the responses to match 'hosts_to_clean' when doing the delete
        # Note: cannot run route53_info asynchronously as it makes too many concurrent requests and blows the AWS Route53 API limit.
        - name: clean/dns/route53 | Get A records
          route53_info:
            aws_access_key: "{{cluster_vars[buildenv].aws_access_key}}"
            aws_secret_key: "{{cluster_vars[buildenv].aws_secret_key}}"
            type: "A"
            max_items: 1
            query: record_sets
            hosted_zone_id: "{{ r__route53_zone.zone_id }}"
            start_record_name: "{{item.name}}.{{cluster_vars.dns_user_domain}}"
          register: r__route53_info
          until: r__route53_info is success
          retries: 10
          with_items: "{{ hosts_to_clean }}"

        - name: clean/dns/route53 | Delete A records
          route53:
            aws_access_key: "{{cluster_vars[buildenv].aws_access_key}}"
            aws_secret_key: "{{cluster_vars[buildenv].aws_secret_key}}"
            state: "absent"
            zone: "{{ cluster_vars.dns_nameserver_zone }}"
            record: "{{ item.Name }}"
            type: "{{ item.Type }}"
            ttl: "{{ item.TTL }}"
            value: "{{ item.ResourceRecords | json_query(\"[].Value\") }}"
            private_zone: "{{cluster_vars.route53_private_zone | default(true)}}"
          with_items: "{{ records_to_clean }}"
          vars:
            _hostnames_to_clean: "{{ hosts_to_clean | json_query(\"[].name\") | map('regex_replace', '^(.*)$', '\\1.' + cluster_vars.dns_user_domain + '.') | list }}"
            records_to_clean: "{{ r__route53_info.results | json_query(\"[].ResourceRecordSets[?Type=='A' && contains(\"+ _hostnames_to_clean | string +\", Name)][]\") | unique }}"

        # Note: route53_info currently does not honour the 'max_items' or 'type' fields, (and if 'start_record_name' is not found, it just returns all records), so we need to filter the responses to match 'hosts_to_clean' when doing the delete
        # Note: cannot run route53_info asynchronously as it makes too many concurrent requests and blows the AWS Route53 API limit.
        - name: clean/dns/route53 | Get CNAME records
          route53_info:
            aws_access_key: "{{cluster_vars[buildenv].aws_access_key}}"
            aws_secret_key: "{{cluster_vars[buildenv].aws_secret_key}}"
            type: "CNAME"
            max_items: 1
            query: record_sets
            hosted_zone_id: "{{ r__route53_zone.zone_id }}"
            start_record_name: "{{item.name | regex_replace('-(?!.*-).*')}}.{{cluster_vars.dns_user_domain}}"
          register: r__route53_info
          with_items: "{{ hosts_to_clean }}"
          until: r__route53_info is success
          retries: 10

        - name: clean/dns/route53 | Delete CNAME records
          route53:
            aws_access_key: "{{cluster_vars[buildenv].aws_access_key}}"
            aws_secret_key: "{{cluster_vars[buildenv].aws_secret_key}}"
            state: "absent"
            zone: "{{ cluster_vars.dns_nameserver_zone }}"
            record: "{{ item.1.Name }}"
            type: "{{ item.1.Type }}"
            ttl: "{{ item.1.TTL }}"
            value: "{{ item.1.ResourceRecords | json_query(\"[].Value\") }}"
            private_zone: "{{cluster_vars.route53_private_zone | default(true)}}"
          vars:
            _cnames_to_clean: "{{ hosts_to_clean | json_query(\"[].name\") | map('regex_replace', '^(.*)-(?!.*-).*$', '\\1.' + cluster_vars.dns_user_domain + '.') | list }}"   #Remove the last '-.*' (cluster_suffix)
            records_to_clean: "{{ r__route53_info.results | json_query(\"[].ResourceRecordSets[?Type=='CNAME' && contains(\"+ _cnames_to_clean | string +\", Name)][]\") | unique }}"
          with_nested:
            - "{{ hosts_to_clean }}"
            - "{{ records_to_clean }}"
          when: ((item.0.name | regex_replace('-(?!.*-).*')) == (item.1.Name | regex_replace('^(.*?)\\..*$', '\\1')))  and  ((item.0.name == item.1.ResourceRecords[0].Value | regex_replace('^(.*?)\\..*$', '\\1')))
      when: cluster_vars.dns_server == "route53"

    - name: clean/dns/clouddns | Delete DNS entries
      block:
        - name: clean/dns/clouddns | Get managed zone(s)
          gcp_dns_managed_zone_info:
            auth_kind: serviceaccount
            dns_name: "{{cluster_vars.dns_nameserver_zone}}"
            project: "{{cluster_vars[buildenv].vpc_host_project_id}}"
            service_account_file: "{{gcp_credentials_file}}"
          register: r__gcp_dns_managed_zone_info

#        - debug: msg={{r__gcp_dns_managed_zone_info}}

        - name: clean/dns/clouddns | Get all non-peered DNS records for managed zones that match cluster_vars.dns_nameserver_zone
          gcp_dns_resource_record_set_info:
            auth_kind: serviceaccount
            managed_zone:
              name: "{{item.name}}"
              dnsName: "{{item.dnsName}}"
            project: "{{cluster_vars[buildenv].vpc_host_project_id}}"
            service_account_file: "{{gcp_credentials_file}}"
          register: r__gcp_dns_resource_record_set_info
          with_items: "{{r__gcp_dns_managed_zone_info.resources | json_query(\"[?dnsName==`\" + cluster_vars.dns_nameserver_zone + \"` && !(peeringConfig)]\") }}"

#        - debug: msg={{r__gcp_dns_resource_record_set_info}}

        - name: clean/dns/clouddns | Delete A and CNAME records
          block:
#            - debug: msg={{gcp_dns_resource_record_set_info__and__gcp_dns_managed_zone_info}}

            - name: clean/dns/clouddns | Delete A records
              gcp_dns_resource_record_set:
                auth_kind: serviceaccount
                managed_zone:
                  name: "{{item.1.managed_zone.name}}"
                  dnsName: "{{item.1.managed_zone.dnsName}}"
                name: "{{ item.1.record.name }}"
                project: "{{cluster_vars[buildenv].vpc_host_project_id}}"
                service_account_file: "{{gcp_credentials_file}}"
                state: absent
                target: "{{ item.1.record.rrdatas }}"
                type: A
              with_nested:
                - "{{ hosts_to_clean }}"
                - "{{ gcp_dns_resource_record_set_info__and__gcp_dns_managed_zone_info | json_query(\"[?record.type=='A']\") }}"
              register: r__gcp_dns_resource_record_set
              until: r__gcp_dns_resource_record_set is success
              retries: 10
              when: item.0.name == (item.1.record.name | regex_replace('^(.*?)\\..*$', '\\1'))

            - name: clean/dns/clouddns | Delete CNAME records
              gcp_dns_resource_record_set:
                auth_kind: serviceaccount
                managed_zone:
                  name: "{{item.1.managed_zone.name}}"
                  dnsName: "{{item.1.managed_zone.dnsName}}"
                name: "{{ item.1.record.name }}"
                project: "{{cluster_vars[buildenv].vpc_host_project_id}}"
                service_account_file: "{{gcp_credentials_file}}"
                state: absent
                target: "{{ item.1.record.rrdatas[0] }}"
                type: CNAME
              with_nested:
                - "{{ hosts_to_clean }}"
                - "{{ gcp_dns_resource_record_set_info__and__gcp_dns_managed_zone_info | json_query(\"[?record.type=='CNAME']\") }}"
              register: r__gcp_dns_resource_record_set
              until: r__gcp_dns_resource_record_set is success
              retries: 10
              when: ((item.0.name |regex_replace('-(?!.*-).*')) == (item.1.record.name | regex_replace('^(.*?)\\..*$', '\\1')))  and  (item.0.name == item.1.record.rrdatas[0] | regex_replace('^(.*?)\\..*$', '\\1'))
          vars:
            gcp_dns_resource_record_set_info__and__gcp_dns_managed_zone_info: |
              {%- set res = [] -%}
              {%- for managed_zone in r__gcp_dns_resource_record_set_info.results -%}
                {%- for record in managed_zone.resources -%}
                  {%- set _dummy = res.extend([{ 'managed_zone': {'dnsName': managed_zone.item.dnsName, 'name': managed_zone.item.name}, 'record': record }]) -%}
                {%- endfor -%}
              {%- endfor -%}
              {{ res }}
      when: cluster_vars.dns_server=="clouddns"
  when: hosts_to_clean | length